h1 a {
    color: #FCA205;
    font-family: 'Lobster';
}
body {
	padding-left: 15px;
}
.page-header{
	background-color: #47425a;
	margin-top: 0;
	padding: 20px 20px 20px 40px;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #e2466e;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h3 {
    font-family: 'Lobster', cursive;
    text-align: center;
}
h2 {
    font-family: 'Lobster', cursive;
}
h4 {
    font-family: 'Sans-serif';
    font-size: 15px;
}

.date {
    color: #fff;
    font-family: 'Lobster';
}
p {
    font-family: 'Lucida', cursive;
    font-size: 20px;
    color: #fff;
}


.post {
    margin-bottom: 70px;
    font-family: 'Lobster';
}

.post h1 a, .post h1 a:visited {
    color: #d89aaa;
    font-family: 'Lobster';
}
